<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 
    <title>Weather Forecaster</title>
 
    <link rel="icon" href="../static/images/favicon.png">
    <link rel="stylesheet" href="../static/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/sass/weather_project.css">
 
    <script src="../static/js/index.js"></script>
  </head>
 
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 
      <a class="navbar-brand" href="#">Weather Forecaster</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
 
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#">Home</a>
          <a class="nav-item nav-link" href="https://www.dnes.bg/news.php?last&cat=558">News</a>
          <a class="nav-item nav-link" href="#">More</a>
      </div>
      </div>
 
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Enter location..." aria-label="Search">
        <button class="btn btn-secondary btn-sm" type="submit">Search</button>
      </form>
 
    </nav>
 
    <p id = "location"><span><img src="../static/images/curr_loc.png" width="20" height="20"></span><span id = "curr_loc"></span></p>
    <div class="container">
 
 
      <div class="d-flex justify-content-center" id = "top_container">
 
        <div class="col" id = "today">
          <b id = "title">Today</b>
          <p><img id ="today_icon" alt="Current weather pic" width="90" height="90"></p>
          <p id="today_description"></p>
          <p><span><img src="../static/images/thermometer.png" width="20" height="20"></span> temperature:<span id=today_temp></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;feels like: <span id=feels_like></span></p> 
          <p>min:<span id="min_temp"></span>&nbsp;&nbsp;&nbsp;<img src="../static/images/min_max.png" width="20" height="20">&nbsp;&nbsp;&nbsp;&nbsp;max:<span id=max_temp></span></p>
          <p><span><img src="../static/images/rain.png" width="20" height="20"></span> rain: <span id=today_rain></span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="../static/images/humidity.png" width="20" height="20"></span>humidity: <span id=today_humidity></span></p>
          <p><span><img src="../static/images/wind.png" width="20" height="20"></span> wind speed: <span id=today_windSpeed></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><img src="../static/images/clouds.png" width="20" height="20"></span> cloudiness: <span id=today_cloudiness></span></p>
          <!-- <p><span><img src="../static/images/clouds.png" width="20" height="20"></span> cloudiness: <span id=today_cloudiness></span></p> -->
        </div>
 
      </div>
      <div class="row align-items-center">
        <div class="col" id = "three_days" >
          <b id="threeDays_day0">First_day</b>
          <p><img id ="threeDays_icon0" alt="Today weather pic" width="90" height="90"></p>
          <p><span><img src="../static/images/thermometer.png" width="20" height="20"></span> temperature:<span id="threeDays_temp0"></span></p>
          <p><span><img src="../static/images/humidity.png" width="20" height="20"></span> humidity:<span id="threeDays_hum0"></span></p>
          <p><span><img src="../static/images/rain.png" width="20" height="20"></span> rain:<span id="threeDays_rain0"></span></p>
          <p><span><img src="../static/images/wind.png" width="20" height="20"></span> wind speed:<span id="threeDays_ws0"></span></p>
          <p><span><img src="../static/images/clouds.png" width="20" height="20"></span> cloudiness:<span id="threeDays_clouds0"></span></p>
        </div>
        <div class="col" id = "three_days1">
          <b id="threeDays_day1">Second_day</b>
          <p><img id ="threeDays_icon1" alt="weather pic" width="90" height="90"></p>
          <p><span><img src="../static/images/thermometer.png" width="20" height="20"></span> temperature:<span id="threeDays_temp1"></span></p>
          <p><span><img src="../static/images/humidity.png" width="20" height="20"></span> humidity:<span id="threeDays_hum1"></span></p>
          <p><span><img src="../static/images/rain.png" width="20" height="20"></span> rain:<span id="threeDays_rain1"></span></p>
          <p><span><img src="../static/images/wind.png" width="20" height="20"></span> wind speed:<span id="threeDays_ws1"></span></p>
          <p><span><img src="../static/images/clouds.png" width="20" height="20"></span> cloudiness:<span id="threeDays_clouds1"></span></p>
        </div>
        <div class="col" id = "three_days2">
          <b id="threeDays_day2">Third_day</b>
          <p><img id ="threeDays_icon2" alt="weather pic" width="90" height="90"></p>
          <p><span><img src="../static/images/thermometer.png" width="20" height="20"></span> temperature:<span id="threeDays_temp2"></span></p>
          <p><span><img src="../static/images/humidity.png" width="20" height="20"></span> humidity:<span id="threeDays_hum2"></span></p>
          <p><span><img src="../static/images/rain.png" width="20" height="20"></span> rain:<span id="threeDays_rain2"></span></p>
          <p><span><img src="../static/images/wind.png" width="20" height="20"></span> wind speed:<span id="threeDays_ws2"></span></p>
          <p><span><img src="../static/images/clouds.png" width="20" height="20"></span> cloudiness:<span id="threeDays_clouds2"></span></p>
        </div>
      </div>
      <div class="row align-items-end" id = "seven_days">
        <div class="col" >
          <b id="sevenDays_day0">First_day</b>
          <p><img id ="sevenDays_icon0" alt="weather pic" width="90" height="90"></p>
          <p><span><img src="../static/images/thermometer.png" width="20" height="20"></span> temperature:<span id="sevenDays_temp0"></span></p>
          <p><span><img src="../static/images/humidity.png" width="20" height="20"></span> humidity:<span id="sevenDays_hum0"></span></p>
          <p><span><img src="../static/images/rain.png" width="20" height="20"></span> rain:<span id="sevenDays_rain0"></span></p>
          <p><span><img src="../static/images/wind.png" width="20" height="20"></span> wind speed:<span id="sevenDays_ws0"></span></p>
          <p><span><img src="../static/images/clouds.png" width="20" height="20"></span> cloudiness:<span id="sevenDays_clouds0"></span></p>
        </div>
        <div class="col">
          <b id="sevenDays_day1">Second_day</b>
          <p><img id ="sevenDays_icon1" alt="weather pic" width="90" height="90"></p>
          <p><span><img src="../static/images/thermometer.png" width="20" height="20"></span> temperature:<span id="sevenDays_temp1"></span></p>
          <p><span><img src="../static/images/humidity.png" width="20" height="20"></span> humidity:<span id="sevenDays_hum1"></span></p>
          <p><span><img src="../static/images/rain.png" width="20" height="20"></span> rain:<span id="sevenDays_rain1"></span></p>
          <p><span><img src="../static/images/wind.png" width="20" height="20"></span> wind speed:<span id="sevenDays_ws1"></span></p>
          <p><span><img src="../static/images/clouds.png" width="20" height="20"></span> cloudiness:<span id="sevenDays_clouds1"></span></p>
        </div>
        <div class="col">
          <b id="sevenDays_day2">Third_day</b>
          <p><img id ="sevenDays_icon2" alt="weather pic" width="90" height="90"></p>
          <p><span><img src="../static/images/thermometer.png" width="20" height="20"></span> temperature:<span id="sevenDays_temp2"></span></p>
          <p><span><img src="../static/images/humidity.png" width="20" height="20"></span> humidity:<span id="sevenDays_hum2"></span></p>
          <p><span><img src="../static/images/rain.png" width="20" height="20"></span> rain:<span id="sevenDays_rain2"></span></p>
          <p><span><img src="../static/images/wind.png" width="20" height="20"></span> wind speed:<span id="sevenDays_ws2"></span></p>
          <p><span><img src="../static/images/clouds.png" width="20" height="20"></span> cloudiness:<span id="sevenDays_clouds2"></span></p>
        </div>
        <div class="col">
            <b id="sevenDays_day3">Seventh_day</b>
            <p><img id ="sevenDays_icon3" alt="weather pic" width="90" height="90"></p>
            <p><span id="sevenDays_temp3"></span></p>
            <div class="dropdown">
              <span>More info</span>
            <div class="dropdown-content">
              <p>humidity:<span id="sevenDays_hum3"></span></p>
              <!-- <p><span><img src="../static/images/humidity.png" width="20" height="20"></span> humidity:<span id="sevenDays_hum6"></span></p> -->
              <p> wind speed:<span id="sevenDays_ws3"></span></p>
              <!-- <p><span><img src="../static/images/wind.png" width="20" height="20"></span> wind speed:<span id="sevenDays_ws6"></span></p> -->
              <p>cloudiness:<span id="sevenDays_clouds3"></span></p>
            </div>
          </div>
        </div>
 
        <div class="col">
            <b id="sevenDays_day4">Seventh_day</b>
            <p><img id ="sevenDays_icon4" alt="weather pic" width="90" height="90"></p>
            <p><span id="sevenDays_temp4"></span></p>
            <div class="dropdown">
              <span>More info</span>
            <div class="dropdown-content">
              <p>humidity:<span id="sevenDays_hum4"></span></p>
              <!-- <p><span><img src="../static/images/humidity.png" width="20" height="20"></span> humidity:<span id="sevenDays_hum6"></span></p> -->
              <p> wind speed:<span id="sevenDays_ws4"></span></p>
              <!-- <p><span><img src="../static/images/wind.png" width="20" height="20"></span> wind speed:<span id="sevenDays_ws6"></span></p> -->
              <p>cloudiness:<span id="sevenDays_clouds4"></span></p>
            </div>
          </div>
        </div>
 
        <div class="col">
          <b id="sevenDays_day5">Seventh_day</b>
          <p><img id ="sevenDays_icon5" alt="weather pic" width="90" height="90"></p>
          <p><span id="sevenDays_temp5"></span></p>
          <div class="dropdown">
            <span>More info</span>
          <div class="dropdown-content">
            <p>humidity:<span id="sevenDays_hum5"></span></p>
            <!-- <p><span><img src="../static/images/humidity.png" width="20" height="20"></span> humidity:<span id="sevenDays_hum6"></span></p> -->
            <p> wind speed:<span id="sevenDays_ws5"></span></p>
            <!-- <p><span><img src="../static/images/wind.png" width="20" height="20"></span> wind speed:<span id="sevenDays_ws6"></span></p> -->
            <p>cloudiness:<span id="sevenDays_clouds5"></span></p>
          </div>
        </div>
      </div>
 
 
      <div class="col">
        <b id="sevenDays_day6">Seventh_day</b>
        <p><img id ="sevenDays_icon6" alt="weather pic" width="90" height="90"></p>
        <p><span id="sevenDays_temp6"></span></p>
        <div class="dropdown">
          <span>More info</span>
        <div class="dropdown-content">
          <p>humidity:<span id="sevenDays_hum6"></span></p>
          <!-- <p><span><img src="../static/images/humidity.png" width="20" height="20"></span> humidity:<span id="sevenDays_hum6"></span></p> -->
          <p>wind speed:<span id="sevenDays_ws6"></span></p>
          <!-- <p><span><img src="../static/images/wind.png" width="20" height="20"></span> wind speed:<span id="sevenDays_ws6"></span></p> -->
          <p>cloudiness:<span id="sevenDays_clouds6"></span></p>
        </div>
      </div>
    </div>
 
 
 
 
 
 
 
        </div>
      </div>
    </div>