body{
    background-color: lightsalmon;
}

 .container{
    /* margin-top: 10px; */
    /* margin-bottom: auto; */
    /* padding-top: auto; */
    /* padding-bottom: 5px; */
    /* height: 650px; */
    text-align: center;
    /* display: grid; */
    /* grid-template-rows: auto auto auto; */
}
.form-inline{
    display: flex;
}

/*
.container > p{
    font-size: 20px;
    font-weight: bold;
} */

