body{
    /* background-color: lightsalmon; */
    /* background-color:#FFDEAD */
    /* background-color: #ffff99; */
    /* background-color: #ffffb3; */
    /* background-color: #ffff66; */
    /* background-color: #d2ff4d; */
    /* background-color: #ffd9b3; */
    background-image:url("../images/background.jpg");
    background-size: cover;
    
}

.container{
    /* margin-top: 10px; */
    /* margin-bottom: auto; */
    /* padding-top: auto; */
    /* padding-bottom: 5px; */
    /* height: 650px; */
    text-align: center;
    /* //font-size: 18px; */
    /* display: grid; */
    /* grid-template-rows: auto auto auto; */
}

#title{
    font-weight: 1000;
    font-size: 25px;
}
#today > p{
    font-size: 21px;
}
#today > p > span{
    font-weight:bold;
    font-size: 19px;
}
#three_days > p > span{
    font-weight:bold;
    font-size: 16px;
}
#three_days1 > p > span{
    font-weight:bold;
    font-size: 16px;
}
#three_days2 > p > span{
    font-weight:bold;
    font-size: 16px;
}
.form-inline{
    display: flex;
}
#today_description{
    font-style:oblique;
    font-family:monospace;
    color:white;
    font-weight: bold;
    
}
#location{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
#min_temp{
    color:blue;
}
#max_temp{
    color:red;
}
#dropdownMenuButton1{
    /* margin-top: 100px; */
    margin-bottom: 160px;
}
.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 190px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

#sevenDays_temp6{
    font-family: fantasy;
    font-weight: bolder;
    font-size: 30px;
}
#sevenDays_temp5{
    font-family: fantasy;
    font-weight: bolder;
    font-size: 30px;
}
#sevenDays_temp4{
    font-family: fantasy;
    font-weight: bolder;
    font-size: 30px;
}

#sevenDays_temp3{
    font-family: fantasy;
    font-weight: bolder;
    font-size: 30px;
}






